.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.header {
  width: 100vh;
  color: var(--color-blue100);
}

.grid {
  width: 100vh;
  display: grid;
  gap: 1.5rem;
}
