.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.header {
  max-width: 860px;
  width: 100%;
  color: var(--color-blue300);
}

.grid {
  max-width: 860px;
  width: 100%;
  display: grid;
  gap: 1.5rem;
}
