.card {
  position: relative;
  border-radius: 20px;
  padding: 20px;
  background-color: white;
  box-shadow: 5px 5px 4px var(--color-gray100);
  min-height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.topic {
  font-size: 26px;
  font-weight: bold;
  color: var(--color-blue300);
}

.question_wrapper {
  background-color: var(--color-blue100);
  padding: 25px 10px 25px 20px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: inset 10px 0 0 var(--color-blue200);
}

.question {
  font-size: 18px;
  line-height: 1.5;
}

.button_wrapper {
  text-align: end;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  color: white;
}

.blue_button {
  background-color: var(--color-blue300);
}

.blue_button:disabled {
  background-color: var(--color-gray100);
  cursor: not-allowed;
}

.orange_button {
  margin-left: 10px;
  background-color: var(--color-orange);
}
