.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

.header {
  width: 100%;
  max-width: 860px;
  color: var(--color-blue300);
}

.grid {
  width: 100%;
  max-width: 860px;
  display: grid;
}

.inputWrapper {
  width: 100%;
  max-width: 860px;
  height: 100px;
  display: flex;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 5px 5px 4px var(--color-gray100);
  background: white;
  gap: 10px;
}

.input {
  background-color: unset;
  border: none;
  overflow: auto;
  font-size: 18px;
  flex: 1;
  margin: 5px;
  padding: 5px;
  resize: none;
}

.button {
  padding: 10px;
  background-color: unset;
  color: var(--color-blue300);
  font-size: 30px;
  border: unset;
}
