.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.titleWrapper {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-size: 130px;
  font-weight: bold;
  color: var(--color-yellow);
  text-align: center;
  white-space: nowrap;
  text-shadow: 10px 0px 2px white;
  animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@media (max-width: 768px) {
  .title {
    font-size: 100px;
    white-space: normal; /* 줄바꿈 허용 */
    line-height: 1.2;
  }

  .mobileTitle {
    display: block;
  }
}

@keyframes text-pop-up-top {
  0% {
    transform: translateY(0);
    text-shadow: none;
  }
  100% {
    transform: translateY(-50px);
    text-shadow: 0 1px 0 white, 0 2px 0 white, 0 3px 0 white, 0 4px 0 white,
      0 5px 0 white, 0 6px 0 white, 0 7px 0 white, 0 8px 0 white, 0 9px 0 white,
      0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

.nav {
  background-color: var(--color-yellow);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 20px;
  box-shadow: 5px 5px 4px var(--color-gray100);
}
