.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 860px;
  margin: 0 auto;
  padding: 50px 0;
}

.top {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--color-blue300);
  padding: 0 16px;
  margin-bottom: 20px;
  gap: 5px;
}

.main {
  max-height: 500px;
  width: 100%;
  max-width: 860px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 16px;
}

.bottom {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding: 0 16px;
}

@media (max-width: 768px) {
  .page {
    padding: 20px 0;
    min-height: unset;
  }

  .top {
    height: 10vh;
    min-height: 70px;
    margin-bottom: 0;
  }

  .main {
    flex: 1;
  }

  .bottom {
    height: 10vh;
    min-height: 70px;
    margin-top: unset;
  }
}
