.card {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 4px var(--color-gray100);
  background-color: var(--color-background-light);
  cursor: pointer;
}

.header {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-weight: 600;
  color: var(--color-blue100);
}

.description {
  color: var(--color-blue200);
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  padding: 5px 10px;
  border-radius: 20px;
  background-color: var(--color-yellow);
  color: white;
}
